.center {
    margin-top:50px;   
}

.modal-header {
  padding-bottom: 5px;
}

.modal-footer {
      padding: 0;
  }
    
.modal-footer .btn-group button {
  height:40px;
  border-top-left-radius : 0;
  border-top-right-radius : 0;
  border: none;
  border-right: 1px solid #ddd;
}
  
.modal-footer .btn-group:last-child > button {
  border-right: 0;
}
.btn-default a{
  color: black;
}
.registro_docente{
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  border: none;
  color: black;
  border: 1px solid #adadad;
}
.registro_docente a{
  color: black;
  text-decoration: none;
}

.tomar_foto{
  background-color: transparent;
  border: 1px solid #adadad;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

.botones_registro_docente button{
  background-color: transparent;
  border: 1px solid #adadad;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
.botones_registro_docente a{
  color: black;
}

#eliminar1 button,
#eliminar2 button,
#eliminar3 button,
#eliminar4 button,
#eliminar5 button{
  background-color: transparent;
  color: black;
  border: none;
}












header .parte_azul{
  background-color: #1e4b73;
  height: 115px;
  color: white;
  margin-top: 0px;
}
footer{
  background-color: #272626;
  height: 130px;
  margin-top: 50px;
}
footer a{
  color: white;
}
.parte_azul h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 45px;
    padding-bottom: 20px;
}
.imagen_logo{
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imagen_logo h2{
    color: #1e4b73;
    float: right;
}


.section_home button{
    background-color: #1e4b73;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section_home button a{
    color: white;
}
.rol_1 button,
.rol_2 button,
.rol_3 button{
    background-color: #1e4b73;
    border: none;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}
.rol_2 button,
.rol_3 button{
    padding-left: 228px;
    padding-right: 228px;
}
.rol_1 button a,
.rol_2 button a,
.rol_3 button a{
    color: white;
}
.rol_1 button a:hover,
.rol_1 button a:focus,
.rol_1 button a:active,
.rol_2 button a:hover,
.rol_2 button a:focus,
.rol_2 button a:active,
.rol_3 button a:hover,
.rol_3 button a:focus,
.rol_3 button a:active,{
    background-color: #e8a730;
    color: #1e4b73;
}
.b_form{
    float: left;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

/*.TABLE th{
  padding-left: 15px;
  padding-right: 15px;
}*/

.botones button{
  background-color: #1e4b73;
  color: white;
  border-radius: 4px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}




/*menu*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.fa-fw {width: 2em;}






/*MENÚ-ADMINISTRADOR*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #e1a436;
  width: 250px;
  height: auto;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 65px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #2e353d;
  background-color: #e1a436;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: white;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: white;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #1e4b73;
  border: none;
  line-height: 42px;
  border-bottom: 1px solid #e1a436;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #2c91e2;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover,
.nav-side-menu li:active,
.nav-side-menu li:focus {
  border-left: 3px solid #d19b3d;
  background-color: #2c91e2;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #1e4b73;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .menu_admin{
    float: left;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
@media(min-width: 768px;){
  .nav-side-menu {
    top: 240px;
  }
}
@media (max-width: 723px) {
   header .parte_azul {
      height: 140px;
      margin-top: -15px;
  }
  .imagen_logo{
      margin-bottom: 30px;
  }
}
@media (min-width: 724px) {
   header .parte_azul {
      margin-top: -16px;
  }
}



/*TABLE*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic);


.tabla {
  margin: 0 auto;
}
.tabla thead {
  cursor: pointer;
  background: rgba(0, 0, 0, .2);
}
.tabla thead tr th { 
  font-weight: bold;
  padding: 10px 20px;
}
.tabla thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 55%;
}
.tabla thead tr th.headerSortUp,
.tabla thead tr th.headerSortDown {
  background: rgba(0, 0, 0, .2);
}
.tabla thead tr th.headerSortUp span {
  background-image: url('http://tablesorter.com/themes/blue/asc.gif');
}
.tabla thead tr th.headerSortDown span {
  background-image: url('http://tablesorter.com/themes/blue/desc.gif');
}
.tabla tbody tr td {
  text-align: center;
  padding: 10px 20px;
}
.tabla tbody tr td.align-left {
  text-align: left;
}




/*PAGINATION*/

/*LOGIN*/
body {
  background-color:#fff;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border-bottom-width:1px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.glyphicon { 
  margin-right:10px; 
}
.panel-body { 
  padding:0px; 
  background-color: #1e4b73;
}
.panel-body table tr td { 
  padding-left: 15px 
}
.panel-body .table {
  margin-bottom: 0px; 
}
.tabla a{
  color: black;
}








/*nombre administrador*/
.imagen_logo h2{
  float: right;
}


/*estilos menu*/
.panel-heading{
    background-color: #e1a436;
}

/*alerta de inicio de sesion*/
.modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}



/*boton de inicio de sesion*/
.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 120px;
  height: 35px;
  cursor: pointer;
  margin: 0 auto;
  border: .5px solid rgb(38, 169, 245);
  -webkit-border-radius: 40px;
  border-radius: 35px;
  font: normal 20px/35px "Domine Font Family", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgb(17, 30, 63);
}