<!DOCTYPE html>
<html lang=en-US>
<head>
  <meta charset="UTF-8">
  <meta lang="es">
  <link rel="shortcut icon" href="img/favicon.png" th:href="@{img/favicon.png}" type="image/x-icon">
  <title>ASISTENCIA - FISI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/bootstrap.css" th:href="@{css/bootstrap.css}"/>
  <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}"/>
  <script src="js/jquery.js" th:src="@{js/jquery.js}"></script>
  <script src="js/fancybox.js" th:src="@{js/fancybox.js}"></script>
  <script src="js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
  <script src="js/bxslider.js" th:src="@{js/bxslider.js}"></script>
  <script src="js/parallax.js" th:src="@{js/parallax.js}"></script>
  <script src="js/app.js" th:src="@{js/app.js}"></script>
  <script src="js/jquery.tablesorter.js" th:src="@{js/jquery.tablesorter.js}"></script>
</head>
<body>
    <header>
        <div class="parte_azul">
            <center><h2>SISTEMA CONTROL DE ASISTENCIA AL DOCENTE</h1></center>
        </div>
        <div class="container imagen_logo">
            <figure class="fisi-logo-container pull-left">
                <a href="http://sistemas.unmsm.edu.pe/" target="_blank"><img class="fi  si-logo img-responsive" src="img/logo.png" alt="Logotipo de la Facultad de Ingeniería de Sistemas e Informática - Enlace al home de La página"/></a>
            </figure>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
              <div class="nav-side-menu">
                  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                      <div class="menu-list">
                          <ul id="menu-content" class="menu-content collapse out" style="font-size: 15px;">
                              <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                                <a href="#" style="padding-left: 20px;"><i class="fa fa-gift fa-lg"></i> Mantenimiento <span class="arrow"></span></a>
                              </li>
                              <ul class="sub-menu collapse" id="products">
                                  <li class="active" style="padding-left: 50px;" id="docente"><a href="#">Docentes</a></li>
                                  <li style="padding-left: 50px;" id="horarios"><a href="#">Horarios</a></li>
                                  <li style="padding-left: 50px;" id="cursos"><a href="#">Cursos</a></li>
                              </ul>


                              <li data-toggle="collapse" data-target="#service" class="collapsed">
                                <a href="#" style="padding-left: 20px;"><i class="fa fa-globe fa-lg"></i> Reportes <span class="arrow"></span></a>
                              </li>  
                              <ul class="sub-menu collapse" id="service">
                                <li style="padding-left: 50px;" id="generar_reportes">Reportes</li>
                                <li style="padding-left: 50px;" id="confirmar_asistencia">Confirmar Asistencia</li>
                              </ul>
                               <li>
                                <a th:href="@{/}" style="padding-left: 20px;">
                                Cerrar Sesión
                                </a>
                                </li>
                          </ul>
                   </div>
              </div>
            </div>
            <div class="col-md-9 well">
              <h2>Bienvenido Administrador: Pedro Sanchez</h3>
              <div id="main">
                <iframe id="content" style="width: 100%; height: 500px;"></iframe>
              </div>
            </div>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
      $(function(){
          $('#mitabla').tablesorter(); 
      });
      $(document).ready(function(e) {
        $('#horarios').on('click', function(){
          
          $('#content').attr('src', 'horarios.html');
        });
        $('#docente').on('click', function(){

          $('#content').attr('src', 'docente.html');
          
        });
        $('#cursos').on('click', function(){   
          $('#content').attr('src', 'cursos.html');
          
        });
        $('#generar_reportes').on('click', function(){   
          $('#content').attr('src', 'generar_reportes.html');
          
        });
        $('#confirmar_asistencia').on('click', function(){   
          $('#content').attr('src', 'confirmar_asistencia.html');
          
        });
      });
      
</script>
</body>
</html>