<!DOCTYPE html>
<html lang=en-US>
<head>
  <meta charset="UTF-8">
  <meta lang="es">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <title>ASISTENCIA - FISI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/jquery.js"></script>
  <script src="js/fancybox.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bxslider.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/app.js"></script>
  <script src="js/jquery.tablesorter.js"></script>
</head>
<body>
	<div>
		<center> 
			<h2>Asistencias</h2>
			 	<form class="navbar-form navbar-left">
			 		<button type="submit" class="btn btn-default">Docente</button>
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Nombre del Docente">
			        </div>
		      	</form>		      	
		</center>
		<table cellspacing="0" cellpadding="0" id="mitabla" class="tabla">
		  <thead>
		    <tr>
		      <th><span>Curso</span></th>
		      <th><span>Días</span></th>
		      <th><span>Hora inicio</span></th>
		      <th><span>Hora fin</span></th>
		      <th><span>Grupo</span></th>
		      <th><span>Tipo</span></th>
		      <th><span>Estado</span></th>
		      <th><span>Verificar</span></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td>Cell7</td>
		      <td><a href="validar_autenticar_asistencia.html"><center><img src="img/user.png"></center></a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td>Cell7</td>
		      <td><a href="validar_autenticar_asistencia.html"><center><img src="img/user.png"></center></a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td>Cell7</td>
		      <td><a href="validar_autenticar_asistencia.html"><center><img src="img/user.png"></center></a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td>Cell7</td>
		      <td><a href="validar_autenticar_asistencia.html"><center><img src="img/user.png"></center></a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td>Cell7</td>
		      <td><a href="validar_autenticar_asistencia.html"><center><img src="img/user.png"></center></a></td>
		    </tr>
		  </tbody>
		</table> 
		
		<center>
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</center>

		<center><button class="registro_docente" style="margin-top:20px;" data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Exportar</button></center>
	</div>
	<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $(".tabla").tablesorter(); 
		    } 
		); 
		$('#eliminar1').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar2').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar3').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar4').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar5').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
	</script>
</body>


<div class="container">
	    <div class="modal alert alert-warning" style="display: none;top:-285px;">
	    	<a href="horarios.html" class="btn btn-xs btn-warning pull-right" style="margin-left:5px;">No, ahora no joven</a>
	        <a href="horarios.html" class="btn btn-xs btn-warning pull-right">Si deseo eliminarlo</a>
	        <strong>Cuidado:</strong> Está a un click de eliminar un horario. ¿Aún desea Eliminar el horario?
	    </div>
	</div>



<div class="modal fade" data-backdrop="static" data-keyboard="false" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 0px;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel"><b>Exportar Asistencia</b></h3>
		</div>
		<div class="modal-body">
			<form>
			  <div class="form-group">
                <label for="exampleInputEmail1">Desde: </label>
                <input type="date" class="form-control" id="exampleInputEmail1" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Hasta: </label>
                <input type="date" class="form-control" id="exampleInputEmail1" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              
              <center><button type="submit" class="btn btn-default">Aceptar</button></center>
            </form>

		</div>
	</div>
  </div>
</div>





<!--div class="modal fade" data-backdrop="static" data-keyboard="false" id="squarespaceModaldos" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel"><b>Crear Curso</b></h3>
		</div>
		<div class="modal-body">
			<form>
			<div class="form-group">
              <label for="exampleInputEmail1">Código del curso</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Código del curso">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre del curso</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del curso">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Créditos</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Créditos">
              </div>
              <center><button type="submit" class="btn btn-default">Aceptar</button></center>
            </form>

		</div>
	</div>
  </div>
</div>


<div class="modal fade" data-backdrop="static" data-keyboard="false" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel"><b>Modificar Curso</b></h3>
		</div>
		<div class="modal-body">
			<form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nuevo nombre del curso</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del curso">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Créditos</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Créditos">
              </div>
              <center><button type="submit" class="btn btn-default">Aceptar</button></center>
            </form>

		</div>
	</div>
  </div>
</div-->



</html>







<!--DOCTYPE html>
<html lang=en-US>
<head>
  <meta charset="UTF-8">
  <meta lang="es">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <title>ASISTENCIA - FISI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/jquery.js"></script>
  <script src="js/fancybox.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bxslider.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/app.js"></script>
  <script src="js/jquery.tablesorter.js"></script>
</head>
<body>
	<div>
		<center> 
			<h2 style="margin-bottom: 30px;">Generar Reportes</h2>
		</center>
		<center>
			<div class="container" style="margin-bottom: 20px;">
				<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
					<div style="float: left;">
		 				<p style="margin-top: 12px;">Desde:  </p>
			 		</div>
			 		<div style="float: right;">
						<input style="margin-bottom: 5px;margin-top: 5px;padding-left: 32px;" type="date" class="form-control"">
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
					<div style="float: left;">
		 				<p style="margin-top: 12px;">Hasta:  </p>
			 		</div>
			 		<div style="float: right;">
						<input style="margin-bottom: 5px;margin-top: 5px;padding-left: 32px;" type="date" class="form-control"">
					</div>
				</div>
			</div>
		</center>
		<table cellspacing="0" cellpadding="0" id="mitabla" class="tabla">
		  <thead>
		    <tr>
		      <th><span>Nombre del curso</span></th>
		      <th><span>Horario</span></th>
		      <th><span>Docente</span></th>
		      <th><span>Días</span></th>
		      <th><span>Ver</span></th>
		      <th><span>Eliminar</span></th>
		      <th><span>Modificar</span></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		  </tbody>
		</table> 
		<center>
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</center>
	</div>
	<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $(".tabla").tablesorter(); 
		    } 
		); 
	</script>
</body>

</html-->



<!--DOCTYPE html>
<html lang=en-US>
<head>
  <meta charset="UTF-8">
  <meta lang="es">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <title>ASISTENCIA - FISI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/jquery.js"></script>
  <script src="js/fancybox.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bxslider.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/app.js"></script>
  <script src="js/jquery.tablesorter.js"></script>
</head>
<body>
	<div>
		<center> 
			<h2>Lista a Autenticar</h2>
			 	<form class="navbar-form navbar-left">
			 		<button type="submit" class="btn btn-default">Docente</button>
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Nombre del Docente">
			        </div>
		      	</form>
		</center>
		<table cellspacing="0" cellpadding="0" id="mitabla" class="tabla">
		  <thead>
		    <tr>
		      <th><span>Profesor</span></th>
		      <th><span>Fecha</span></th>
		      <th><span>Hora</span></th>
		      <th><span>Horario</span></th>
		      <th><span>Estado</span></th>
		      <th><span>Autenticar</span></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td class="align-left">Profesor1</td>
		      <td>Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>F</td>
		      <td><a href="validar_autenticar_asistencia.html">Autenticar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Profesor1</td>
		      <td>Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>F</td>
		      <td><a href="validar_autenticar_asistencia.html">Autenticar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Profesor1</td>
		      <td>Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>F</td>
		      <td><a href="validar_autenticar_asistencia.html">Autenticar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Profesor1</td>
		      <td>Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>F</td>
		      <td><a href="validar_autenticar_asistencia.html">Autenticar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Profesor1</td>
		      <td>Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>F</td>
		      <td><a href="validar_autenticar_asistencia.html">Autenticar</a></td>
		    </tr>
		  </tbody>
		</table> 
		<center>
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</center>
	</div>
	<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $(".tabla").tablesorter(); 
		    } 
		); 
	</script>
</body>

</html-->


