<!DOCTYPE html>
<html lang=en-US>
<head>
  <meta charset="UTF-8">
  <meta lang="es">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <title>ASISTENCIA - FISI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/app.js"></script>
</head>
<body>
	<div>
		<center> 
			<h2>Crear Curso</h2>
		</center>
		<div class="container">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
				<form class="navbar-form navbar-left">
					<div class="row">
						<div style="float: left;">
			 				<p style="margin-top: 12px;">Código del curso </p>
				 		</div>
				 		<div style="float: right;">	
			 				<input style="margin-bottom: 5px;margin-top: 5px;" type="textarea" class="form-control" placeholder="Código del curso">
				 		</div>
					</div>
			 		<div class="row">
						<div style="float: left;">
			 				<p style="margin-top: 12px;">Nombre del curso </p>
				 		</div>
				 		<div style="float: right;">	
			 				<input style="margin-bottom: 5px;margin-top: 5px;" type="textarea" class="form-control" placeholder="Nombre del curso">
				 		</div>
					</div>
			 		<div class="row">
						<div style="float: left;">
			 				<p style="margin-top: 12px;">Créditos</p>
				 		</div>
				 		<div style="float: right;">	
				 			<select style="margin-bottom: 5px;margin-top: 5px;padding-left: 25px;padding-right: 25px;padding-top: 3px;padding-bottom: 3px;">
							  <option value="uno">1 crédito</option>
							  <option value="dos">2 créditos</option>
							  <option value="tres">3 créditos</option>
							  <option value="cuatro">4 créditos</option>
							  <option value="cinco">5 créditos</option>
							</select>
				 		</div>
					</div>
		      	</form>
			</div>
		</div>
		<div class="container botones_registro_docente">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<center><a href="cursos.html"><button>Cancelar</a></button></center>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<center><a href="cursos.html"><button>Crear Curso</a></button></center>
			</div>
		</div>
	</div>	
</body>

</html>


