<!DOCTYPE html>
<html lang=en-US>
<head>
  <meta charset="UTF-8">
  <meta lang="es">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <title>ASISTENCIA - FISI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/jquery.js"></script>
  <script src="js/fancybox.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bxslider.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/app.js"></script>
  <script src="js/jquery.tablesorter.js"></script>
</head>
<body>
	<div>
		<center> 
			<h2 style="margin-bottom: 50px;">Horarios</h2>
		</center>
		<table cellspacing="0" cellpadding="0" id="mitabla" class="tabla">
		  <thead>
		    <tr>
		      <th><span>Nombre del curso</span></th>
		      <th><span>Horario</span></th>
		      <th><span>Docente</span></th>
		      <th><span>Días</span></th>
		      <th><span>Ver</span></th>
		      <th><span>Eliminar</span></th>
		      <th><span>Modificar</span></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Juan Pérez</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td><a href="#">Eliminar</a></td>
		      <td><a href="#">Modificar</a></td>
		    </tr>
		  </tbody>
		</table> 
	</div>
	<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $(".tabla").tablesorter(); 
		    } 
		); 
	</script>
</body>

</html>


