<!DOCTYPE html>
<html lang=en-US xmlns:th="http://www.thymeleaf.orgs">
<head>
	<meta charset="UTF-8">
	<meta lang="es">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<title>ASISTENCIA - FISI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<script src="js/jquery.js"></script>
	<script src="js/fancybox.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.tablesorter.js"></script>
</head>
<body>
	<div>
		<center> 
			<h2>Lista de Docentes</h2>
			 	<form class="navbar-form navbar-left">
			 		<button type="submit" class="btn btn-default">Docente</button>
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Nombre del Docente">
			        </div>
			        <button class="registro_docente" style="float: right;margin-right: 125px;margin-top: 15px;"><a href="registrar_docente.html">Registrar Docente</a></button>
		      	</form>

		</center>
		<table cellspacing="0" cellpadding="0" id="mitabla" class="tabla">
		  <thead>
		    <tr>
		      <th><span>Nombre</span></th>
		      <th><span>Apellido Paterno</span></th>
		      <th><span>Apellido Materno</span></th>
		      <th><span>Correo</span></th>
		      <th><span>Ver</span></th>
		      <th><span>Eliminar</span></th>
		      <th><span>Modificar</span></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each = "docente:${docentes}">
		      <td class = "align-left" th:text = "${docente.nomDocente}">:nombre:</td>
		      <td class = "align-left" th:text = "${docente.apePaterno}">:apellido_paterno:</td>
		      <td class = "align-left" th:text = "${docente.apeMaterno}">:apellido_materno:</td>
		      <td class = "align-left" th:text = "${docente.email}">:correo:</td>
		      <td><a href="ver_docente.html"><center><img src="img/ver.png"></center></a></td>
		      <td id="eliminar1">
		      	<a href="#">
		      		<button data-toggle="modal" 
		      		class="btn btn-primary center-block">
		      			<center><img src="img/eliminar.png"></center>
		      		</button>
		      	</a>
		      </td>
		      <td id="modificarDocente"><a href="#"><center><img src="img/modificar.png"></center></a></td>
		    </tr>
		  </tbody>
		</table> 
		<center>
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</center>
	</div>
	<div class="container">
	    <div class="modal alert alert-warning" style="display: none;top:-285px;">
	    	<a href="docente.html" class="btn btn-xs btn-warning pull-right" style = "margin-left:5px;">No</a>
	        <a href="docente.html" class="btn btn-xs btn-warning pull-right">Sí</a>
	        <strong>Advertencia:</strong>¿Desea eliminar el registro?
	    </div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $(".tabla").tablesorter(); 
		        $("#modificarDocente").click(function(){
		        	$("#content").load("/asistencia_web/modificarDocente");
		        });
		    } 
		); 
		$('#eliminar1').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar2').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar3').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar4').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar5').click(function(){
	      $('.alert-warning').css('display','block');
        }); 

	</script>
</body>

















</html>


