<!DOCTYPE html>
<html lang=en-US>
<head>
  <meta charset="UTF-8">
  <meta lang="es">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <title>ASISTENCIA - FISI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/jquery.js"></script>
  <script src="js/fancybox.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bxslider.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/app.js"></script>
  <script src="js/jquery.tablesorter.js"></script>
</head>
<body>
	<div>
		<center> 
			<h2>Horarios</h2>
			 	<form class="navbar-form navbar-left">
			 		<button type="submit" class="btn btn-default">Docente</button>
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Nombre del Docente">
			        </div>
		      	</form>
		      	<button class="registro_docente" style="float:right;margin-top:-60px;margin-right:45px;" data-toggle="modal" data-target="#squarespaceModaldos" class="btn btn-primary center-block">Crear Horario</button>
		</center>
		<table cellspacing="0" cellpadding="0" id="mitabla" class="tabla">
		  <thead>
		    <tr>
		      <th><span>Curso</span></th>
		      <th><span>Días</span></th>
		      <th><span>Hora inicio</span></th>
		      <th><span>Hora fin</span></th>
		      <th><span>Grupo</span></th>
		      <th><span>Tipo</span></th>
		      <th><span>Eliminar</span></th>
		      <th><span>Modificar</span></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td id="eliminar1">
		      	<a href="#">
		      		<button data-toggle="modal"	class="btn btn-primary center-block">
		      			<center><img src="img/eliminar.png"></center>
		      		</button>
		      	</a>
		      </td>
		      <td><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block"><center><img src="img/modificar.png"></center></button></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td id="eliminar2">
		      	<a href="#">
		      		<button data-toggle="modal"	class="btn btn-primary center-block">
		      			<center><img src="img/eliminar.png"></center>
		      		</button>
		      	</a>
		      </td>
		      <td><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block"><center><img src="img/modificar.png"></center></button></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td id="eliminar3">
		      	<a href="#">
		      		<button data-toggle="modal"	class="btn btn-primary center-block">
		      			<center><img src="img/eliminar.png"></center>
		      		</button>
		      	</a>
		      </td>
		      <td><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block"><center><img src="img/modificar.png"></center></button></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td id="eliminar4">
		      	<a href="#">
		      		<button data-toggle="modal"	class="btn btn-primary center-block">
		      			<center><img src="img/eliminar.png"></center>
		      		</button>
		      	</a>
		      </td>
		      <td><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block"><center><img src="img/modificar.png"></center></button></td>
		    </tr>
		    <tr>
		      <td class="align-left">Cell1</td>
		      <td>Cell2</td>
		      <td>Cell3</td>
		      <td>Cell4</td>
		      <td>Cell5</td>
		      <td>Cell6</td>
		      <td id="eliminar5">
		      	<a href="#">
		      		<button data-toggle="modal"	class="btn btn-primary center-block">
		      			<center><img src="img/eliminar.png"></center>
		      		</button>
		      	</a>
		      </td>
		      <td><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block"><center><img src="img/modificar.png"></center></button></td>
		    </tr>
		  </tbody>
		</table> 
		<center>
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</center>
	</div>
	<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $(".tabla").tablesorter(); 
		    } 
		); 
		$('#eliminar1').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar2').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar3').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar4').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
        $('#eliminar5').click(function(){
	      $('.alert-warning').css('display','block');
        }); 
	</script>
</body>


<div class="container">
	    <div class="modal alert alert-warning" style="display: none;top:-285px;">
	    	<a href="horarios.html" class="btn btn-xs btn-warning pull-right" style="margin-left:5px;">No, ahora no joven</a>
	        <a href="horarios.html" class="btn btn-xs btn-warning pull-right">Si deseo eliminarlo</a>
	        <strong>Cuidado:</strong> Está a un click de eliminar un horario. ¿Aún desea Eliminar el horario?
	    </div>
	</div>



<div class="modal fade" data-backdrop="static" data-keyboard="false" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 0px;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel"><b>Modificar Horario</b></h3>
		</div>
		<div class="modal-body">
			<form>
			  <div class="form-group">
                <label for="exampleInputEmail1">Nombre del curso</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del curso" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Día del curso</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Día del curso" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Hora de inicio</label>
                <input type="time" class="form-control" id="exampleInputEmail1" placeholder="Hora de inicio" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Hora de fin</label>
                <input type="time" class="form-control" id="exampleInputEmail1" placeholder="Hora de fin" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Grupo</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Grupo" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Tipo</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Tipo" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <center><button type="submit" class="btn btn-default">Aceptar</button></center>
            </form>

		</div>
	</div>
  </div>
</div>



<div class="modal fade" data-backdrop="static" data-keyboard="false" id="squarespaceModaldos" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 0px;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel"><b>Crear Horario</b></h3>
		</div>
		<div class="modal-body">
			<form>
			  <div class="form-group">
                <label for="exampleInputEmail1">Nombre del curso</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del curso" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Día del curso</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Día del curso" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Hora de inicio</label>
                <input type="time" class="form-control" id="exampleInputEmail1" placeholder="Hora de inicio" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Hora de fin</label>
                <input type="time" class="form-control" id="exampleInputEmail1" placeholder="Hora de fin" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Grupo</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Grupo" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Tipo</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Tipo" style="margin-bottom: 0;margin-top: 0;display: block;width: 100%;height: 30px;">
              </div>
              <center><button type="submit" class="btn btn-default">Aceptar</button></center>
            </form>

		</div>
	</div>
  </div>
</div>




<!--div class="modal fade" data-backdrop="static" data-keyboard="false" id="squarespaceModaldos" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel"><b>Crear Curso</b></h3>
		</div>
		<div class="modal-body">
			<form>
			<div class="form-group">
              <label for="exampleInputEmail1">Código del curso</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Código del curso">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre del curso</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del curso">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Créditos</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Créditos">
              </div>
              <center><button type="submit" class="btn btn-default">Aceptar</button></center>
            </form>

		</div>
	</div>
  </div>
</div>


<div class="modal fade" data-backdrop="static" data-keyboard="false" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel"><b>Modificar Curso</b></h3>
		</div>
		<div class="modal-body">
			<form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nuevo nombre del curso</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del curso">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Créditos</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Créditos">
              </div>
              <center><button type="submit" class="btn btn-default">Aceptar</button></center>
            </form>

		</div>
	</div>
  </div>
</div-->



</html>


